body {
  background: rgb(210,210,210);
  background: linear-gradient(0deg, rgba(260,260,260,1) 0%, rgba(230,230,230,1) 50%, rgba(200,200,200,1) 100%);
  height: 100%;
  width: 100%;
color: white;
font-family: fantasy;
text-align: center;
font-size: 32px;
text-shadow: rgba(0, 0, 0, 0,6);
  border: 5px solid black;
  margin: 5px;
  border-radius: 8px;
}

h1 {
  color: ghostwhite;
  font-size: 72px;
  font-family: fantasy;
  font-weight: 800;
text-align: center;
}
h2, label {
  text-decoration: underline;
  font-size: 48px;
  margin-top: 5px;
}
h5 {
  text-decoration: underline;
  font-size: 32px;
  text-align: center;

}

a {
  text-decoration: none;
  color: rgb(210, 210, 210);
transition: color 0.5s ease;
}
a:hover {
  color: rgb(70, 70, 70);
}
div {

}
figure {
    margin: 0;
}


li {
  list-style-position: inside;
  list-style: none;
}
label,
textarea {
    font-size: 2.8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 32px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-family: fantasy;
}

label {
    display: block;
    margin-bottom: 16px;
}

border-radius: 75%;

/*custom designs with class*/
.container {
  width: 1400px ;
  margin: 30px auto;
background-color: black;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: full;
  }
}

.Neemy_pic {
  border: 4px solid white;
  margin: 0px;
border-radius: 8px;
}

#Neemy_vidéo {
 border: 4px solid white;
  margin: 0px;
border-radius: 50%;
}




.card-black{
  background-color: rgb(25, 25, 25);
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
 margin: 40px 20px;
 text-align: center;
}
#WELCOME {
   text-align: justify;
   font-family: 'Press Start 2P', cursive;

}
#card-insta {
  background-color: rgb(35, 35, 35);
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
   margin: 40px 374px;
 text-align: justify;
}
.btn-white {
  background-color: white;
color: black;
padding: 10px 15px;
border-radius: 15px;
}

.btn-white:hover {
background-color: rgba(60, 60, 60,0.8);
color: white;
transition: color 0.2s ease;
box-shadow: 5px 10px 20px rgba(250,250,250,0.5);

}

#div-left {
    left: -25px;
    position:relative;
    width:20%;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 32px;
    float:left;

}
#div-right {
    right: 10px;
    position:relative;
    left:90%
    width:90%;
    margin-right: 25px;
    padding-right: 0;
    text-align: right;
    margin-left: 20%;
    float: none;
}

#card-inline{
background-color: black;
  padding: 0px;
  box-shadow: 5px 10px 30px rgba(0,0,0,0.5);
font-size: 24px;
 margin: 5px 0px;
 text-align: center;
 position: fixed;
 top: 0;
     left: 0;
     width: 100%;
     z-index: 99;
  }
.list-inline {
  list-style: none;
  padding-left: 10px;

}
.list-inline li {
  display: inline-block;
   height: auto;
   text-align: center;
       list-style: none;
  padding: 5px;
  margin: 0;
  padding-bottom: 8px;
}

#opening_inline{
display: inline-block;
list-style: none;
width:100%;



}

#div_left_opening {
    left: -25px;
    position:relative;
    width:50%;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 32px;
    float:left;

}
#div_right_opening {
    left: -25px;
    position:relative;

    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 32px;
    float:right;

}

#kaneki_Pic{
  margin-bottom: 0px;
}
#kaneki_Pic{
  margin-top: 0px;
}
.wrapper nav {
position: relative;



}

nav{
    width: auto;
    margin: -5px ;
    margin-bottom: -30px;
    background-color: white;
padding-left: 0px;
    position: sticky;
    top: 0px;
    float: left;
      border-radius: 15px
}

nav ul{
    list-style-type: none;
    w
}

nav ul li{
    float: left;
    width: auto;
    text-align:  center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 4px 0px;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid black;
    background-color: RGBa(60,60,60,0.8);
    border-radius: 8px;
    box-shadow: 3px 8px 20px black;
}

.sous{
    display: none;
    box-shadow: 5px 7px 30px black;
    background-color: rgb(240,240,240);
    position: absolute;
    width: 250px;
    z-index: 1000;
    float: left;
    padding-right: 80px;
    border-radius: 10px;
    border-color: black;
    border-bottom-size: 2px;

}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    margin-left: -30px;
    margin-right: -10px;
    width: max-content;
    text-align: left;

}
.sous a{
    padding: 5px;
    border-bottom: 2px;

}
.sous a:hover{
    border-bottom: black;
    color : white

    background-color: RGBa(60,60,60,0.5);

}
.deroulant > a::after{
    content:" ▼";
    font-size: 16px;

}
.wrapper .search-icon {
  color : #fff ;
  font-size: 28px;
  font-weight: bold;
  cursor : pointer;
}
.search-icon{
  display: flex;
  position: relative;
}

.wrapper .search-box{
   position: absolute;

  height: 100%;
  max-width: calc(100% - 80px);
  width: 100%;
float: right;

}

.search-box input{
  width: 50%;
  height: 100% ;
  border-color: white;
  border-radius: 8px;
  outline: none;
  font-size: 24px;
  padding-left: 15px;
  margin-top: 10px;
  font-family: fantasy ;
  font-style: italic;
  color: rgb(250,250,250);
background: rgb(40,40,40);

}

.search-box input::placeholder{
  color: rgb(240,240,240);

}

.search-box .go-icon{
  position: absolute;
  right: 10px;
bottom: 3px;

  line-height: 20px;

  border-radius: 8px;
  outline: none;
  border: none;
  background: rgb(40,40,40);
  color: white;
  font-size: 26px;
  font-weight: bold;
  cursor : pointer;
}




@font-face {
    font-family:"SSStandard";
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ss-standard.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
.ss-icon,.ss-icon.ss-standard {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
    font-feature-settings: "liga","dlig";
}
.ss-icon,.ss-icon.ss-standard {
    font-family: "SSStandard";
}
* { box-sizing: border-box; }
figure#audioplayer {
  border: 1px solid #000;
  background: #333;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/dark_wall.png);
  overflow: hidden;
  width: 32rem;
  padding: .4rem;
  margin: 0 auto;
    border: 3px solid white;
    border-radius: 8px;
}
figure#audioplayer audio { width: 0; height: 0; }
figure#audioplayer figcaption {
  width: 21.5rem; font-size: 0;
  margin: .45rem; background: #000;
  float: left;
  border: 4px solid white;
    text-align: left;
}
figure#audioplayer figcaption div {
  background: #000;
  color: #fff;
  padding: .8rem;
  font-family:  fantasy, sans-serif;
  text-transform: uppercase; font-size: .8rem;
  display: inline-block;
  text-align: left;
}
figure#audioplayer figcaption div span {
  display: block;
  font-size: 1.3rem;
  text-indent: 1rem;
}
div#album {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 100%;
}
div#time {
  width: 7.55rem;
  border-left: 1px solid #555;
}
input#volumeSlider { -webkit-appearance: slider-vertical;    ;cursor : pointer;}
figure#audioplayer button {
  width: 3rem; height: 3rem;
  background: #000; color: #fff;

    border: 2px solid white;
    border-radius: 4px;
      cursor : pointer;
}
#playback { clear: both; }
div#fader { display: inline-block; }
#playback progress {
  margin-left: 1rem;
  width: 20rem; height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #888;
  border: none;
  color: hsl(0deg 0% 100%);
  cursor : pointer;
}
progress::-webkit-progress-bar, progress::-moz-progress-bar, progress::progress-bar {
  background: hsl(44,100%,44%);
}
progress::-webkit-progress-value { background: hsl(0deg 0% 100%); }
progress::-moz-progress-bar {
background-color: hsl(0deg 0% 100%);
}
@media screen and (max-width: 500px) {
  div#time { display: block !important; border-top: 1px solid #555; width: 100%; }
  figure#audioplayer { width: 100%; padding: .2rem; }
  figure#audioplayer figcaption div { padding: .4rem; }
}
@media screen and (max-width: 450px) {
figure#audioplayer figcaption { width: 16rem; }
#playback progress { width: 220px; }
}
@media screen and (max-width: 400px) {
figure#audioplayer figcaption { width: 14rem; }
}
